In [1]:
from engine import AutoDeepClassification
df = AutoDeepClassification(path="../classification/iris.csv", label="Species", fold=False, save_model_type="pkl")
df.train()

[SUCCESS] Dataset Loaded Successfully

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

[INPUT] ENTER THE COLUMN NAME YOU WANT TO REMOVE / TYPE 'quit' : Id
[INPUT] ENTER THE COLUMN NAME YOU WANT TO REMOVE / TYPE 'quit' : quit

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

[INPUT] ENTER THE NAME OF ENCODER BECAUSE LABEL DTYPE IS OBJECT : label
[INFO] THATS RIGHT
False

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0        -0.900681      1.032057      -1.341272     -1.312977
1        -1.143017     -0.124958      -1.341272     -1.312977
2        -1.385353      0.337848      -1.398138     -1.312977
3        -1.506521      0.106445      -1.284407     -1.312977
4        -1.021849      1.263460      -1.341272     -1.312977
..             ...           ...            ...           ...
145       1.038005     -0.124958       0.819624      1.447956
146       0.553333     -1.281972       0.705893      0.922064
147       0.795669     -0.124958       0.819624      1.053537
148       0.432165      0.800654       0.933356      1.447956
149       0.068662     -0.124958       0.762759      0.790591

[150 rows x 4 columns]

[INFO] DATA IS SPLITED
	TRAIN RATIO : 0.75
	TEST RATIO : 0.25

,model,best_score,best_params,test_accuracy,save_path
0,ExtraTreeClassifier,0.955336,"{'criterion': 'gini', 'max_features': 'auto', ...",1.000000,G:\AutoTrain\autodeep\output/ExtraTreeClassifi...
1,DecisionTree,0.955336,"{'criterion': 'gini', 'max_depth': 4, 'max_fea...",1.000000,G:\AutoTrain\autodeep\output/DecisionTree.pkl
2,svm,0.954941,"{'C': 10, 'kernel': 'rbf'}",0.973684,G:\AutoTrain\autodeep\output/svm.pkl
3,GradingBoosting,0.954545,"{'criterion': 'mae', 'learning_rate': 0.1, 'lo...",1.000000,G:\AutoTrain\autodeep\output/GradingBoosting.pkl
4,KNearest,0.945850,"{'algorithm': 'auto', 'leaf_size': 30, 'n_neig...",1.000000,G:\AutoTrain\autodeep\output/KNearest.pkl
5,RandomForest,0.937154,{'n_estimators': 10},1.000000,G:\AutoTrain\autodeep\output/RandomForest.pkl
6,XGBoost,0.937154,"{'max_depth': 5, 'n_estimators': 100, 'objecti...",1.000000,G:\AutoTrain\autodeep\output/XGBoost.pkl
7,Logistic Regression,0.919368,{'C': 7},0.973684,G:\AutoTrain\autodeep\output/Logistic Regressi...

[INPUT] ENTER THE PATH : G:\AutoTrain\autodeep\output\DecisionTree.pkl
[INFO] LOADED SUCCESSFULLY
[INPUT] COLUMN NAME : SepalLengthCm ENTER VALUE : 5.0
[INPUT] COLUMN NAME : SepalWidthCm ENTER VALUE : 1.3
[INPUT] COLUMN NAME : PetalLengthCm ENTER VALUE : 5.0
[INPUT] COLUMN NAME : PetalWidthCm ENTER VALUE : 1.8

"[RESULT] predicted label : ['Iris-versicolor']"